yapf==0.29.0
flake8==3.7.9
pyzmq==19.0.0
psutil==5.7.0
gpuinfo==1.0.0a6
redis==3.5.3
imutils==0.5.3
face-recognition==1.3.0
opencv-python==4.2.0.34
mysql==0.0.2
mysql-connector-python==8.0.21
Keras==2.2.0
